@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #525252;
    user-select: none;
}

.container {
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    min-height: 400px;
    width: 400px;
    border: 2px solid #583d2a;
    background-color: #d8c5b3;

}

.img-metronome {
    width:250px;
    height: 150px;
    margin-top: 50px;
    margin-left: 77px;
}

.metronome {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    justify-content: space-between;
}

.tempo-settings {
    display: flex;
    margin-top: 30px;
}

.tempo-settings .adjust-tempo-btn {
    width: 20px;
    height: 20px;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}
.tempo-settings .adjust-tempo-btn:hover {
    background: #583d2a;
    color: #fff;
}
.tempo-settings .decrease-tempo {
    line-height: 15px;
}
.tempo-settings .increase-tempo {
    line-height: 20px;
}

.start {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #6a6e79;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 170px;
    border: 1px solid #583d2a ;
    margin-left: 220px;
}

.buttons {
    display: block;
}

.start:hover {
    background: #583d2a;
}

.stop:hover {
    background: #583d2a;
}

.stop {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #6a6e79;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 170px;
    border: 1px solid #583d2a ;
    margin-top: -53px;
    margin-left: 120px;
}


.measures {
    display: flex;
    margin-top: 30px;
}
.measures .stepper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    margin-left: 15px;
}
.measures .stepper:hover {
    background: #583d2a;
    color: #fff;
}
.measures .add-beats {
    line-height: 20px;
}

.tempo {
    display: block;
    width: 50px;
    height: 20px;
    padding-left: 20px;
    font-weight: bold;
}

.measure-count {
    display: block;
    width: 40px;
    height: 20px;
    padding-left: 25px;
    font-weight: bold;
}

.add-beats {
    font-size: 40px;
}

.subtract-beats {
    font-size: 40px;
    line-height: 15px;
}

.temp {
    margin-left: 20px;
}

.beats-per-measure-text {
    margin-left: 31px;
}

